
extends layout

block content
	#impressum
		h1 Impressum
		p Der aktuelle Pegelstand ist ein Projekt von:
		ul
			li <a href="http://s11k.com">S11K.com</a> | Die Schnapsfabrik
			li c/o Julia Kestner, Sebastian Müller
			li Palmaille 124b, 2272 Hamburg
			li.contact +49 151 - 54 64 90 55<br />
				| mail: <a href="mailto:inbox@S11K.com">inbox@s11k.com</a>
	
		p <span>Quellen:</span> <br />
			| <a href="http://www.bsh.de">Bundesamt für Seeschifffahrt und Hydrographie</a><br />
			| <a href="http://www.pegelonline.wsv.de">Wasser- und Schifffahrtsverwaltung des Bundes</a>
		p <br />
		p <span>Warnhinweis:</span> <br />
			| Den Wasserstand von <a href="http://pegel.jetzt">pegel.jetzt</a> bitte auf keinen Fall<br />
			| zum Navigieren oder ähnlichem nutzen. Bloß nicht, Danke!