
extends layout

block content
	h1 Impressum
	p
		strong 
			a(href="#") pegel.JETZT
			|  ist ein Projekt von
	ul
		li S11K.com | Die Schnapsfabrik
		li c/o Julia Kestner, Sebastian Müller
		li Palmaille 124b, 2272 Hamburg

	p Die Uhrzeit der angekündigten Gezeiten stammt vom <a href="http://www.bsh.de">Bundesamt für Seeschifffahrt und Hydrographie</a>
	p Der aktuelle Pegelstand ist bezogen von der <a href="http://www.pegelonline.wsv.de">Wasser- und Schifffahrtsverwaltung des Bundes</a>.