doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/styles/main.css", type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="/script.js")
		meta(name="viewport", content="width=420px, initial-scale=1")
	body
		#content
			block content