doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/styles/bullseye.css", type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
		script(src="/script.js")
		meta(name="viewport", content="width=780")
		meta(property="og:title" content=title)
		meta(property="og:site_name" content="pegel.jetzt")
		meta(property="og:url" content="http://pegel.jetzt")
		meta(property="og:type" content="website")
		
		link(rel="apple-touch-icon" href="touch-icon-57.png")
		link(rel="apple-touch-icon" sizes="76x76" href="touch-icon-76.png")
		link(rel="apple-touch-icon" sizes="120x120" href="touch-icon-120.png")
		link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="touch-icon-180.png")
		
		- if (location)
			- if (data.next.type == 'nw')
				meta(property="og:description" content="Aktuell fällt die Tide in " + label + "! Es ist Ebbe, den Tiefststand wird der Pegel um " + format_time(data.next.nw.getHours(), data.next.nw.getMinutes()) + " Uhr haben. Danach gibt es wieder Flut und der Höchststand des Pegels ist um " + format_time(data.next.hw.getHours(), data.next.hw.getMinutes()) + " Uhr erreicht.")
			- else
				meta(property="og:description" content="Aktuell steigt die Tide in " + label + "! Es ist Flut, den Höchststand wird der Pegel um " + format_time(data.next.hw.getHours(), data.next.hw.getMinutes()) + " Uhr haben. Danach gibt es wieder Ebbe und der Tiefststand des Pegels ist um " + format_time(data.next.nw.getHours(), data.next.nw.getMinutes()) + " Uhr erreicht.")
		- else 
			meta(property="og:description" content="Der aktuelle Wasserpegel wird präsentiert von S11K.com")
		meta(property="og:image" content="http://pegel.JETZT/image.png")
		meta(property="fb:admins" content="669118929")
	body
		#content
			block content
		script(type="text/javascript")
			| var _gauges = _gauges || []; (function() { var t   = document.createElement('script'); t.type  = 'text/javascript'; t.async = true; t.id    = 'gauges-tracker'; t.setAttribute('data-site-id', '54ea71b45dd0535634004995'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })();